/* reset da css da página */
*{
    margin:0;
    padding: 0;
    
} 

/* Congigura a tag body */
body{
    box-sizing: border-box; 
    display: flex; 
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

/* logo Auto Rente A Car */
.logoAR{
    width: 100%;
    height: 150px;
}

/* configuração cabeçalho */
ul{
    display: flex;
    margin: 50px;
    font-size: 35px;
    
}

/* configuração da tag link  */
a{
    text-decoration: none;
    color:rgb(224, 168, 2);
    margin-right: 40px;
}

/* configuração da imagem do corpo da página */
.divcarro{
   display: flex;
   justify-content: center;
   height: auto;
   width: auto;
   margin-bottom: 3%;
    
}

.divcarro img {
    box-shadow: 4px 4px 4px #000;     
}


